.reviews-wrapper {
  display: flex;
  overflow-x: auto;
  padding: 10px 15px 30px 0px;
  max-width: 100%;
  transition: all 1s ease;
}

.reviews-wrapper::-webkit-scrollbar {
  width: 20px;
}

.reviews-wrapper::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}

.reviews-wrapper::-webkit-scrollbar-thumb {
  background: #c9b8f0;
  border-radius: 10px;
}

.reviews-wrapper::-webkit-scrollbar-thumb:hover {
  background: #b29ee0;
}
