.mr-page {
  background: linear-gradient(90deg, #f0e7fe 0%, #b5c6e0 99.2%);
  padding: 100px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mr-page__heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: normal;
}

.mr-page__sub-heading {
  font-size: 22px;
  font-weight: normal;
  margin: 20px 0 10px;
}

.mr-page__heading__no_reviews {
  font-size: 28px;
  text-align: center;
  font-weight: normal;
}
