.review-item {
  background-color: #fff;
  padding: 20px 30px;
  margin-right: 20px;
  box-shadow: 7px 9px 8px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  position: relative;
}

.review-item__heading {
  font-size: 18px;
  margin-bottom: 8px;
  max-width: 80%;
}

.review-item__heading__original {
  font-size: 14px;
  font-weight: normal;
}

.review-item__rating,
.review-item__text {
  margin-bottom: 8px;
}

.star-item {
  margin-right: 5px;
  width: 20px;
}

.review-item__gay {
  font-size: 13px;
  margin-bottom: 16px;
}

.review-item__text {
  font-size: 16px;
  height: 100px;
  overflow: hidden;
}

.review-item__date__container {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
}

.show__full {
  position: absolute;
  cursor: pointer;
  right: 20px;
}

.review-item__viewed {
  font-size: 14px;
}
