* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

a,
h1,
h2,
h3,
h4 {
  color: black;
}

.container {
  width: 100%;
  max-width: 1200px;
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 1250px) {
  .container {
    padding: 0 50px;
  }
}
