.review-item__full__container {
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-item__full {
  background-color: #fff;
  padding: 20px 30px;
  width: 60%;
  position: relative;
}

.close__full {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 20px;
}
