.review-item__full__container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 0;
  z-index: 250;
}

.review-item__full {
  background-color: #fff;
  padding: 20px 30px;
  width: 60%;
  position: relative;
  height: fit-content;
  max-height: 100%;
  overflow-y: scroll;
}

.close__full {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 20px;
}
