.review-form {
  width: 80%;
  min-width: 500px;
  margin: 0 auto;
  padding: 30px 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 9px 8px 9px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  position: relative;
}

.review-form label {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
}

.review-form fieldset {
  border: none;
}

.review-form input {
  outline: none;
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
  padding: 7px 16px;
  margin-bottom: 12px;
}

.review-form textarea {
  outline: none;
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
  padding: 7px 16px;
  margin-bottom: 15px;
}

.review-form__submit {
  align-self: flex-end;
  background-color: #8352fd;
  font-size: 16px;
  padding: 12px 32px;
  color: #fff;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

#review-form__year {
  width: fit-content;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='radio'] {
  display: none;
}

.star {
  cursor: pointer;
  margin-right: 1px;
}

.star-rating__wrapper {
  display: flex;
}

.set__yr {
  display: flex;
}

.set_r {
  margin-left: 50px;
}

.sending {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.sending__heading {
  color: #fff;
  font-size: 30px;
}

.form__viewed {
  display: flex;
  align-items: center;
  margin: 12px 0 16px;
}

.form__viewed * {
  margin-bottom: 0 !important;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
